<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomeWorkOfTeaUk </title>
  <link rel="stylesheet" href="./float.css">
</head>
<body>
  <div class="container">
        <!--Header, Navigation-->
    <div class="top-wrap">
        <header class="header">Header</header>
        <nav class="nav">Navigation</nav>
    </div>
    <!--왼쪽 메뉴-->
    <div class="left-menu"> 
        <aside class="aside" id="left">SideLeft</aside>
    </div>
    <!--오른쪽 메뉴-->
    <div class="right-menu">
      <aside class="aside" id="right">SideRight</aside>
  </div>
    <!--메인 안쪽에 있는 메뉴들-->
    <div class="main-content">
        <main class="main"> Main
            <section class="section">Section
                <article class="article">Article</article>
            </section>
        </main>
    </div>

      <!-- footer 메뉴-->
    <div class="footer-wrap">
        <footer class="footer">Footer</footer>
    </div>
</div>

</body>
</html>