nav {
  background-color: green;
  color: #fff;
}

.menu {
  display: flex;
/* 메뉴 항목을 가운데 정렬합니다. */
  justify-content: space-evenly;
  list-style: none;
  

  
}

.menu li {
  text-align: center;
}

.menu li a {
  
  color: #fff;
  text-decoration: none;
  background-color: rgb(40, 105,23, 0.521);
  border-radius: 5px;
}


.burger{
  display: none;
  position: absolute;
  right: 15px;
  transform: translateY(-130px);
}
@media screen and (max-width:780px){
   .burger{ display: block;}
   .menu { flex-direction: column;}
   .navBar{flex-direction: column;}   

}
